<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blazing</title>
  </head>
  <body>
    <h1>CSSI</h1>
    <p><i>Hello World</i></p>
    <p>You have approached a machine of unkown origin that appears to be active.
    A self driving car pulls up and Elon Musk steps out and into the machine.</p>
    <p>What do you do?</p>
    <ol>
      <li><a href="/enter">Jump in the car</a></li>
      <li><a href="/selfie">Take a selfie</a></li>
      <li><a href="/call">Call 911</a></li>
      <li><a href="/summon">Summon your Griffon</a></li>
    </ol>
  </body>
</html>
