<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Adventure</title>
  </head>
  <body>
    <p>You summoned your Griffon, the obvious right choice and it attacked the car.
    But the car summons its Hydra and defeats your Griffon.</p>
    <p>What do you do</p>
    <ol>
      <li><a href="/run">Run</a></li>
      <li><a href="/call">Call the Master Wizard</a></li>
      <li><a href="/hide">Hide</a></li>
      <li><a href="/enter">Get in car</a></li>
    </ol>
  </body>
</html>
